/node_modules
/public/hot
/public/storage
/public/img/posts/*.jpg
/public/img/posts/*.png
/public/img/animals/*.jpg
/public/img/animals/*.png
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
