html {
  height: 100%;
  margin:0;
  padding:0;
  min-height:100%;
}
body {
  min-height:100%;
  max-height: 100%;
  background-size: cover;
  margin:0;
  padding:0;
}
.navbar {
  min-height: 0;
  margin-bottom: 0;
}
img {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

img {
  height: auto;
  max-width: 100%;
}

img.avatar {
  height: 40px;
}

.row {
  margin: 0;
}

.fa-lg {
  vertical-align: -18% !important;
}

.page-header {
  color: #fff;
  margin: 10px;
  border: 0;
}

.media-heading {
  margin-top: 0;
  margin-bottom: 5px;
  color: #fff;
  font-size: 14px;
}

.media {
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 4px;
}
.media-left, .media-right, .media-body {
  display: table-cell;
  vertical-align: baseline;
}

/* Main placeholder color */
.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #343434 !important;
}

.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #343434 !important;
  opacity: 1;
}

.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #343434 !important;
  opacity: 1;
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #343434 !important;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0px;
}

.show-scrollbar ::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background-color: #4d4c4a;
}

/* General */
::selection {
  background: #a98970; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #a98970; /* Gecko Browsers */
}

@-webkit-keyframes autofill {
  to {
    color: #c0bab8;
    background: transparent;
  }
}

/* Pagrindas */

a {
  text-decoration: none !important;
  outline: none;
  color: #e7e0dd;
}

a:hover {
  color: #e7e0dd;
}

a:focus {
  color: #e7e0dd;
}

ul {
  padding: 0;
  list-style-position: inside;
  letter-spacing: .2px;
}

h2 {
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  margin: 18px 0 15px;
  letter-spacing: .8px;
}

h3 {
  text-transform: uppercase;
}

h3 {
  font-size: 21px;
  font-weight: 500;
  margin: 15px 0 13px;
  letter-spacing: .7px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

input,
textarea {
  letter-spacing: 0.04em;
}

input:focus,
textarea:focus {
  outline: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #54514d; //!important
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #54514d; //!important
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #54514d; //!important
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #54514d; //!important
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
  padding-left: 0;
  padding-right: 0;
}

.has-error .input-group-addon {
  background-color: #1d2831;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #ffc500;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: #242320;
}

/* Tooltip */
#tooltip
{
  text-align: center;
  color: #fff;
  background: #111;
  position: absolute;
  z-index: 100;
  padding: 15px;
}

#tooltip:after /* triangle decoration */
{
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #111;
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  margin-left: -10px;
}

#tooltip.top:after
{
  border-top-color: transparent;
  border-bottom: 10px solid #111;
  top: -20px;
  bottom: auto;
}

#tooltip.left:after
{
  left: 10px;
  margin: 0;
}

#tooltip.right:after
{
  right: 10px;
  left: auto;
  margin: 0;
}

/* Info TABS */
/**
 * Responsive Bootstrap Tabs by @hayatbiralem
 * 15 May 2015
 */

@mixin ellipsis(){
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  width: 100%;
}

@mixin icon-styles(){
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin transform($transform){
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@media screen and (max-width: 479px) {
  .nav-tabs-responsive {
    > li {
      display: none;
      width: 23%;
      > a {
        @include ellipsis();
        width: 100%;
        text-align: center;
        vertical-align: top;
      }
      &.active {
        width: 54%;
        &:first-child {
          margin-left: 23%;
        }
      }
      &.active,
      &.prev,
      &.next {
        display: block;
      }
      &.prev,
      &.next {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
      }
      &.next > a,
      &.prev > a {
        -webkit-transition: none;
        transition: none;
        .text {
          display: none;
        }
        &:after,
        &:after {
          @include icon-styles();
        }
      }
      &.prev > a:after {
        content: "\e079";
      }
      &.next > a:after {
        content: "\e080";
      }
      &.dropdown {
        > a > .caret {
          display: none;
        }
        > a:after {
          content: "\e114";
        }
        &.active > a {
          &:after {
            display: none;
          }
          > .caret {
            display: inline-block;
          }
        }

        .dropdown-menu {
          &.pull-xs-left {
            left: 0;
            right: auto;
          }
          &.pull-xs-center {
            right: auto;
            left: 50%;
            @include transform(translateX(-50%));
          }
          &.pull-xs-right {
            left: auto;
            right: 0;
          }
        }
      }
    }
  }
}

/**
 * Demo Styles
 */

.wrapper {
  padding: 15px 0;
}

.bs-example-tabs .nav-tabs {
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .navbar-default {
    background: transparent;
  }
}
@media (max-width: 479px) {
  #narrow-browser-alert {
    display: none;
  }
}

/* Bootstrap modal */
.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
  background-color: #000;
  border: 0;
}

.embed-responsive-16by9 {
  padding-bottom: 30%;
}

.embed-responsive-item {
  max-height: 600px;
}

.modal.fade .modal-dialog {
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  top: 300px;
  opacity: 0;
}

.modal.fade.in .modal-dialog {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform: translate3d(0, -300px, 0);
  transform: translate3d(0, -300px, 0);
  opacity: 1;
}
button#close-module {
  font-size: 14px;
  font-weight: bold;
}
.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
  color: #ffc500;
}

.tags-list .info-tiny {
  color: #4f4f4f;
  background: rgba(34,32,28,.75);
}
.tags-list .info-tiny:hover {
  background: #ffc500;
}

#tag-zyma {
  color: #4f4f4f;
  cursor: pointer;
}

.fluidbox__overlay {
  background-color:hsla(0,0%,0%,.85);
}

.transp-bg {
 background: transparent;
}
.dark-bg {
  background: hsla(0,0%,9%,.75);
}