img {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

img {
  height: auto;
  max-width: 100%;
}

img.avatar {
  height: 40px;
}

.row {
  margin: 0;
}

.fa-lg {
  vertical-align: -18% !important;
}

/* Main placeholder color */
.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #343434 !important;
}

.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #343434 !important;
  opacity: 1;
}

.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #343434 !important;
  opacity: 1;
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #343434 !important;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0px;
}

.show-scrollbar ::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background-color: #ffc500;
}

/* General */
::selection {
  background: #a98970; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #a98970; /* Gecko Browsers */
}

@-webkit-keyframes autofill {
  to {
    color: #c0bab8;
    background: transparent;
  }
}

/* Pagrindas */

a {
  text-decoration: none !important;
  outline: none;
  color: #e7e0dd;
}

a:hover {
  color: #e7e0dd;
}

ul {
  padding: 0;
  list-style-position: inside;
  letter-spacing: .2px;
}

h2 {
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  margin: 18px 0 15px;
  letter-spacing: .8px;
}

h3 {
  text-transform: uppercase;
}

h3 {
  font-size: 21px;
  font-weight: 500;
  margin: 15px 0 13px;
  letter-spacing: .7px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

input,
textarea {
  letter-spacing: 0.04em;
}

input:focus,
textarea:focus {
  outline: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #54514d; //!important
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #54514d; //!important
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #54514d; //!important
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #54514d; //!important
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
  padding-left: 0;
  padding-right: 0;
}

.has-error .input-group-addon {
  background-color: #1d2831;
}